@charset "UTF-8";
/*CÓDIGOS DE COLOR DE MARCA:
VERDE OSCURO: 6a7769
ROSA OSCURO: e0738c
BEIGE: e5d9c3 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*IMPORTAMOS FUENTES*/
/*WEIGHTS: 300 / 800 */
/*ESTILOS DE TEXTOS*/
h1 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 2rem;
  color: #6a7769;
  text-align: center;
  padding: 3%;
}

h2 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.8rem;
  color: #e0738c;
  text-align: center;
}

h3 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.5rem;
  color: #e5d9c3;
  text-align: center;
}

p {
  font-family: "Poppins";
  font-size: 1rem;
  color: #6a7769;
}
p .txtDest {
  font-weight: 800;
}

.subtitulo {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.3rem;
  color: #e0738c;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/*PARTIALS*/
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}
.navbar-toggler img {
  height: 30px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.menu {
  background-color: #6a7769;
}
.menu img {
  width: 100px;
}
.menu a {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.5rem;
  color: #e5d9c3;
  text-decoration: none;
}
.menu li:hover {
  animation: pulse;
  animation-duration: 3s;
}

.nav-item {
  padding: 0px 15px 0px 15px;
}

.principal {
  background: #e5d9c3;
  height: fit-content;
  overflow-x: hidden;
}

.cajaInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-image: url(../images/estampadoRosa.png);
  width: 100%;
  background-size: cover;
  background-position: center;
}
.cajaInicio h1 {
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.cardsInicio {
  display: flex;
  flex-direction: row;
}
.cardsInicio .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: #6a7769;
}
.cardsInicio .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;
  background-color: #e0738c;
}
.cardsInicio a {
  text-decoration: none;
  color: #e5d9c3;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 1.7rem;
}
.cardsInicio a:hover {
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.filaInfo {
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.filaInfo img {
  width: 50%;
  padding: 20px 20px 20px 20px;
}

.imagenFull {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.imagenResp {
  width: 100%;
  padding: 20px 0px 20px 0px;
}

.tarjetasPadre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  margin-bottom: 50px;
}

.cajaRosa {
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  border: 2px #e0738c solid;
  border-radius: 25px;
}
.cajaRosa h3 {
  color: #e0738c;
}

.verde {
  color: #6a7769;
}

.cajaVerde {
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  border: 2px #6a7769 solid;
  border-radius: 25px;
}
.cajaVerde h3 {
  color: #6a7769;
}
.cajaVerde p {
  color: #e0738c;
}

@media (min-width: 710px) {
  .imagenResp {
    display: none;
  }
}
@media (max-width: 719px) {
  .cajaInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-image: url(../images/estampadoRespRosa.png);
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .filaInfo {
    display: block;
  }
  .filaInfo img {
    width: 100%;
    margin: auto;
  }
  .imagenFull {
    display: none;
  }
  .tarjetasPadre {
    display: block;
  }
}

/*# sourceMappingURL=estilo.css.map */
