.contacto {
    text-align: center;
    
    h2 {
        animation: pulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    img {
        width: 100px;
        margin: auto;
    }
    
    p {
        padding: 20px 300px 20px 300px;
    }

    a {
        display: inline-block;
        background-color: #e0738c;
        border-radius: 30px;
        font-family: 'Poppins';
        font-weight: 800;
        font-style: oblique;
        font-size: 2rem;
        color: #e5d9c3;
        text-decoration: none;
        text-align: center;
        padding: 20px;
        margin-bottom: 50px;
        transition: 0.3s;
    }
    a:hover {
        background-color: #6a7769;
        font-size: 2.1rem;
    }
}