.tarjetasPadre { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin-bottom: 50px;
}
    
.cajaRosa {
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 10px;
    border: 2px #e0738c solid;
    border-radius: 25px;
    text-align: center;

    h3 {
    color: #e0738c;
    }

    p {
        text-align: center;
    }
}


.verde {
    color: #6a7769;
}

.cajaVerde {
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 10px;
    border: 2px #6a7769 solid;
    border-radius: 25px;
    text-align: center;

    h3 {
        color: #6a7769;
    }

    p {
        color: #e0738c;
    }
}

.botonEncargar {
    background-color: #e0738c;
    border-radius: 10px;
    text-align: center;
    color: #e5d9c3;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 1.5rem;
    padding: 5px;
}

.botonEncargarVerde {
    background-color: #6a7769;
    border-radius: 10px;
    text-align: center;
    color: #e5d9c3;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 1.5rem;
    padding: 5px;
}

.carruselMargen {
    margin-bottom: 15px;
}