.principal {
    background:#e5d9c3;
    height: fit-content;
    overflow-x: hidden;
}

.cajaInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url(../images/estampadoRosa.png);
    width: 100%;
    background-size: cover;
    background-position: center;

    h1 {
        animation: pulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

}

.cardsInicio {
    display: flex;
    flex-direction: row;

    .card1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 180px;
        background-color: #6a7769;
    
    }

    .card2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 180px;
        background-color: #e0738c;
    }

    a {
            text-decoration: none;
            color: #e5d9c3;
            font-family: 'Poppins';
            font-weight: 800;
            font-size: 2rem;
    }    
    a:hover {
            animation: pulse;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }

.filaInfo {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 20px;

    img {
        width: 50%;
        padding: 20px 20px 20px 20px;
    }
}

.imagenFull {
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.imagenResp {
    padding: 20px 0px 20px 0px;
}