/*CÓDIGOS DE COLOR DE MARCA:
VERDE OSCURO: 6a7769
ROSA OSCURO: e0738c
BEIGE: e5d9c3 */

* {
    margin: 0;
    padding: 0;
}
/*IMPORTAMOS FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');
    /*WEIGHTS: 300 / 800 */

/*ESTILOS DE TEXTOS*/
h1 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2rem;
    color: #6a7769;
    text-align: center;
    padding: 3%;
}

h2 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 1.8rem;
    color: #e0738c;
    text-align: center;
}

h3 {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2rem;
    color: #e5d9c3;
    text-align: center;
}

p {
    font-family: 'Poppins';
    font-size: 1rem;
    color: #6a7769;

    .txtDest {
        font-weight: 800;
    }
}

.subtitulo {
font-family: 'Poppins';
font-weight: 800;
font-size: 1.3rem;
color: #e0738c;
text-align: center;
}

html {
    scroll-behavior: smooth;
}





/*PARTIALS*/
@import "menu";
@import 'presentacion';
@import 'responsive';
@import 'ilustraciones';

